# Macro for all binary files that should use Git LFS.
[attr]lfs filter=lfs diff=lfs merge=lfs -text

# Default to auto-normalized line endings.
* text=auto

# Image
*.jpg lfs
*.jpeg lfs
*.png lfs
*.gif lfs
*.bmp lfs
*.exr lfs
*.tga lfs
*.tiff lfs
*.tif lfs

# Audio
*.mp3 lfs
*.wav lfs

# Video

# 3D
*.fbx lfs
*.obj lfs
*.mesh lfs